/* Reset stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
main, aside {
  h1, h2, h3, p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
